@import "tailwindcss";

@theme {
  --color-primary: #8a2be2; /* Blue Violet */
  --color-primary-opacity: rgba(138, 43, 226, 0.95); /* Blue Violet with opacity */
  --color-secondary: #2BE28A; /* Emerald */
  --color-primary-hover: #b98eff; /* Lavender (floral) */
  --color-secondary-hover: #1B4F08; /* Cal Poly green */
  --color-dark: #0f0f0f; /* Night */
  --color-dark-grey: #222222; /* Eerie black */
  --color-light: #fbfbfb; /* White */
  --color-light-grey: #eaeaea; /* Platinium */
  --color-footer: #2b2b2b; /* Jet */
}

@layer components {
  .btn-primary {
    @apply mx-auto rounded-lg hover:bg-primary hover:!text-primary-hover px-6 py-4 bg-transparent !text-primary font-semibold border-2 border-primary transition-colors duration-300;
  }
  .btn-secondary {
    @apply mx-auto rounded-lg hover:bg-secondary hover:!text-secondary-hover px-6 py-4 bg-transparent !text-secondary font-semibold border-2 border-secondary transition-colors duration-300;
  }
  .icon{
    @apply rounded-full p-2 border-2 border-secondary hover:bg-secondary-hover hover:border-secondary-hover transition-colors duration-300
  }
  .section-container {
    @apply flex flex-col lg:flex-col w-full items-center max-w-[calc(100%-40px)] sm:max-w-[calc(100%-120px)] mb-8
  }
  .title {
    @apply text-4xl text-center font-bold border-4 p-4 mb-6;
  }
  .skill-icon {
    @apply flex items-center justify-center hover:scale-125 transition-transform duration-300
  }
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
legend {
  color: #0f0f0f;
}

.navbar {
  position: fixed;
  width: 100%;
  transition: height 0.3s ease, padding 0.3s ease;
  z-index: 99;
}

.navbar nav {
  transition: padding 0.3s ease;
}

.navbar nav a {
  text-decoration: none;
}

/* Navbar réduite au scroll */
.navbar.scrolled nav {
  background-color: var(--color-primary-opacity);
  padding: 16px 0 !important;
}

.navbar.scrolled nav img {
  max-width: 60px;
}

.clippy {
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 45% 100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  from {
    scale: 0;
    transform: translateY(0);
  }
  to {
    scale: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-popIn {
  animation: popIn 0.2s ease-in-out;
}
